#logo{
    position: relative;
    left: 15%;
}
#items{
    position: relative;
    right: 25%;
}
.elements{
    color: #438fde!important;
    font-weight: 700;
    text-decoration: none;
    margin: 5px;
}
@media only screen and (max-width: 760px) {
    #items{
        position: relative;
        left: -5%;
    }
}	